spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  data:
    redis:
      host: localhost
      port: 6379
      password: ""
  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: neo4j
      password: codeswamp

logging:
  level:
    root: WARN
